:root{
    --primary-color:royalblue;
}
/* Chat Button------------------------------------ */
.chat-show-btn{
    background: var(--primary-color);
    width: max-content;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 2px 10px black;
    float: right;
}
.chat-show-btn i{
    color: white;
    font-size: 30px;
}
.chat-new-notification{
    color: white;
    background: red;
    padding:5px 10px;
    border-radius: 20px;
    text-align: center;
    margin-top:-25px;
    right: 0px;
    position: absolute;
    z-index: 100;
}
/* Chat Button------------------------------------ */

.chat-app{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 100%;
    max-width: 300px;
    z-index: 10000000000;
}

.chat-container{
    background: lightgray;
    width: 100%;
    /* max-width: 640px; */
    /* position: relative; */
    /* right: 10px; */
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px black;
    border:1px solid var(--primary-color);
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
    transform-origin: bottom right;
    overflow:hidden
}
.chat-container.visible{
    transform: scale(1);
}
.chat-header{
    background: var(--primary-color);
    /* border-radius: 20px 20px 0 0; */
    padding: 15px 10px;
    /* width: 100%; */
}
.chat-header .chat-hide{
    float: right;
    color: white;
    cursor: pointer;
    padding-right: 5px;
}
.chat-header .chat-username{
    color: white;
    padding-left: 5px;
}
.chat-header .chat-details-pic{
    height: 30px;
    width: 30px;
    margin-top: -6px;
}

/* Chat Nav BAr------------------------------- */

.chat-nav-bar{
    display: flex;
    border-top: 1px solid teal;
    border-bottom: 1px solid teal;
}
.chat-nav-bar span{
    padding: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid aqua;
    background-color: rgb(37, 93, 116);
    color: white;
    font-size: 15px;
}
.chat-nav-bar span.current-tab , .chat-nav-bar span:hover{
    background:rgb(21, 55, 68);
}

/* Chat Body Part------------------------------ */
.chat-body{
    display: flex;
    flex-flow: column;
    height:calc(100% - 47px); 
}

/* tabs */
.chat-tab{
    display: none;
}
.chat-tab.visible{
    display: block;
}


/* Grou[ chat tan */
.chat-details {
    background: rgb(255, 255, 255);
    flex:0 1 auto;
}
.chat-details-name{
    font-weight: bold;
    font-size: large;
}
.chat-details-email{
    color: gray;
    font-size: small;
}
.chat-details i{
    float: right;
    padding-right: 2px;
    font-size: 30px;
    cursor: pointer;
    color: gray;
    font-weight: bold;
    /* display: flex; */
    /* flex-flow: column; */
}
.chat-details .chat-new{
    background: var(--primary-color);
    float: right;
    color: white;
    font-size: x-small;
    padding:5px 5px;
    border-radius: 10px;
    /* right: 1px;
    position: absolute; */
}

.chat-contacts-list{
    position: absolute;
    z-index: 10000000002;
    height:350px;   /*ID:)()((()()()()*/
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px); 
    overflow-y: auto;
    display: none;
    transform-origin: top center;
}
.chat-contacts-list.visible{
    display: block;
    animation: blurit 0.1s linear;
}
@keyframes blurit {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1; 
    }
}


.chat-contacts-list::-webkit-scrollbar{
    width: 5px;
    background: lightgray;
}
.chat-contacts-list::-webkit-scrollbar-thumb{
    background: #888; 
    border-radius:100px ;
}
.chat-contacts-list::-webkit-scrollbar-thumb:hover{
    background: #555;    
}
.chat-contact{
    padding: 10px;
    background:rgb(235, 234, 234);
    border-bottom: 1px solid gray;
    cursor: pointer;
}
.chat-contact:hover{
    background: lightgray;
}
.chat-details-pic{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: -5px;
    background: gray;
    float: left;
}
.chat-details-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.chat-new-chat{
    background: var(--primary-color);
    padding: 5px 10px;
    border-radius: 20px;
    float: right;
    color: white;
}

/* Chat histories------------------------------ */
.chat-history{
    /* width: 100%; */
    /* height: 80vh; */
    flex: 1 1 auto;
    /* max-height: 350px; */
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin-bottom: 50px;
}
.chat-history-container{
    /* flex: 1 1 auto; */
    /* margin-bottom:40px; */
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-history-container::-webkit-scrollbar {
    width: 5px;
}
  /* Handle */
.chat-history-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:100px ;
}
  
  /* Handle on hover */
.chat-history-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* .chat-message-wrap{
    
} */
.chat-message-wrap .chat-message{
    padding: 5px 10px;
    background: rgb(173 173 173);
    margin: 2px 0;
    border-radius: 0 10px 10px 10px;
    width: max-content;
    max-width: 60%;
    clear: both;
}
.chat-message-sender-pic{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
    float: left;
    margin-top: -2px;
    margin-right: 5px;
    border:2px solid royalblue;
}
/* .justnow:last-child{
    animation: fromleft 0.1s linear;
}
@keyframes fromleft {
    from {transform: translateX(100%);}
    to {transform: translateX(0);}
} */

.chat-history .sent{
    float: right;
    border-radius: 10px 0px 10px 10px;
    background: var(--primary-color);
    color: white;
}
.chat-message .chat-message-sender{
    font-size: x-small;
    background: rgb(143, 140, 140);
    /* border:1px solid royalblue; */
    color: rgb(31, 31, 75);
    font-weight: bold;
    padding:5px;
    margin-bottom: 5px;
    margin-left: -5px;;
    width: calc(100% - 2px);
    border-left: 2px solid var(--primary-color);
    border-radius: 0 5px 5px 0;
    cursor: pointer;

}
.chat-message .chat-message-sender-name{
    font-size: medium;
    color: rgb(20, 20, 112);
}

.chat-message .chat-message-body{
    font-size: large;
    word-wrap: break-word;
}
.chat-message .chat-message-body a{
    color: white;
}
.chat-message .chat-message-body img{
    width: calc(100% + 10px);
    border-radius: 10px;
    margin: 0 -5px -5px;
}
.chat-message .chat-message-time{
    font-size: 10px;
}

.chat-create{
    /* width: 100%; */
    background: lightgray;
    display: flex;
    padding: 5px;
    flex:0 1 auto;
    position: absolute;
    bottom: -2px;
    left: 0;
    right:0;

    /* border-radius: 20px; */
}
.chat-create .chat-input , .chat-create button{
    border:0;
    outline:0;
}
.chat-create .chat-input{
    width: 100%;
    padding: 10px;
    height: 20px;
    max-height: 100px;
    margin-right: 5px;
    border-radius: 50px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background: rgb(177, 180, 177);
}
.chat-create .chat-input::-webkit-scrollbar {
    width: 0px;
}
  /* Handle */
.chat-create .chat-input::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
.chat-create .chat-input::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.chat-create button{
    border-radius: 100%;
    background: var(--primary-color);
    color: white;
    font-size: 20px;
    padding: 10px 12px;
    cursor: pointer;
}
@media(max-width:640px){
    .chat-container{
        /* height: 100vh; */
        /* width: calc(100% - 20px); */
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        position: fixed;
        margin-bottom: 0;
        border-radius: 0;
    }
    .chat-header{
        border-radius: 0;
    }
    .chat-history{
        height:calc(100vh - 132px);
    }
    .chat-contacts-list{
        height:calc(100vh - 132px);         /*ID:)()((()()()()*/
    }
    /* .chat-history{
        margin-bottom: -60px;
    } */
}
@media(min-width:640px){
    .chat-history{
        max-height: 350px;
        height: 350px;
    }
}

/* 
    chat pic

*/
/* Polling tab--------------------- */
.poll-question-container{
    width:calc(100% - 20px);
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 10px;
    background: white;
    box-shadow: 0 5px 10px black;
}
.poll-option-container{
    height: 0;
    opacity: 0;
    transition: all 0.3s linear;
}
.poll-option{
    width:calc(100% - 30px);
    margin:5px 0;
    padding: 5px;
    font-size:medium;
    font-weight:bold;
    border:1px solid gray;
    border-radius:10px;
    border-left:3px solid green;
    background: lightgrey;
    cursor: pointer;
}

.poll-option label{
    width: min-content;
    /* background: gray; */
}
.poll-question-container:focus + .poll-option-container{
    height: max-content;
    opacity: 1;
}